/* Commen Styles */
/* line 4, ../sass/main.scss */
* {
  padding: 0;
  margin: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 11, ../sass/main.scss */
.container:before, .row:before, .header-section .logo-header:before, .header-section .contact-header:before, .cover-section .contact-form .form-row:before, .body-section .facility:before, .container:after, .row:after, .header-section .logo-header:after, .header-section .contact-header:after, .cover-section .contact-form .form-row:after, .body-section .facility:after {
  content: " ";
  display: table;
}
/* line 16, ../sass/main.scss */
.container:after, .row:after, .header-section .logo-header:after, .header-section .contact-header:after, .cover-section .contact-form .form-row:after, .body-section .facility:after {
  clear: both;
}
/* line 20, ../sass/main.scss */
.container, .row, .header-section .logo-header, .header-section .contact-header, .cover-section .contact-form .form-row, .body-section .facility {
  *zoom: 1;
}

@font-face {
  font-family: 'roboto-regular';
  src: url("../../fonts/roboto-regular/Roboto-Regular-webfont.eot");
  src: url("../../fonts/roboto-regular/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-regular/Roboto-Regular-webfont.woff") format("woff"), url("../../fonts/roboto-regular/Roboto-Regular-webfont.ttf") format("truetype"), url("../../fonts/roboto-regular/Roboto-Regular-webfont.svg#roboto-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'roboto-bold';
  src: url("../../fonts/roboto-Bold/Roboto-Bold-webfont.eot");
  src: url("../../fonts/roboto-Bold/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../../fonts/roboto-Bold/Roboto-Bold-webfont.woff") format("woff"), url("../../fonts/roboto-Bold/Roboto-Bold-webfont.ttf") format("truetype"), url("../../fonts/roboto-Bold/Roboto-Bold-webfont.svg#roboto-bold") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'diavlobook-regular';
  src: url("../../fonts/diavlobook-regular/DiavloBook-Regular.eot");
  src: url("../../fonts/diavlobook-regular/DiavloBook-Regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/diavlobook-regular/DiavloBook-Regular.woff") format("woff"), url("../../fonts/diavlobook-regular/DiavloBook-Regular.ttf") format("truetype"), url("../../fonts/diavlobook-regular/DiavloBook-Regular.svg#diavlobook-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'myriadpro-regular';
  src: url("../../fonts/myriadpro-regular/myriadpro-regular.eot");
  src: url("../../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix") format("embedded-opentype"), url("../../fonts/myriadpro-regular/myriadpro-regular.woff") format("woff"), url("../../fonts/myriadpro-regular/myriadpro-regular.ttf") format("truetype"), url("../../fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular") format("svg");
  font-weight: normal;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
/* line 84, ../sass/main.scss */
html, body {
  width: 100%;
  font-size: 15px;
  line-height: 1.25;
}

/* line 92, ../sass/main.scss */
.container {
  max-width: 1202px;
  margin: 0 auto;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}
/* line 100, ../sass/main.scss */
.container.container-full {
  max-width: 100%;
}
/* line 104, ../sass/main.scss */
.container.container-header {
  max-width: 1430px;
}
@media (min-width: 768px) {
  /* line 92, ../sass/main.scss */
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  /* line 92, ../sass/main.scss */
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  /* line 92, ../sass/main.scss */
  .container {
    max-width: 1202px;
  }
}

/* line 123, ../sass/main.scss */
.row {
  margin: 0 -15px;
}

/* line 128, ../sass/main.scss */
[class*='col-'] {
  width: 100%;
  min-height: 1px;
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

/* line 140, ../sass/main.scss */
.col-1 {
  width: 8.33333%;
}

/* line 140, ../sass/main.scss */
.col-2 {
  width: 16.66667%;
}

/* line 140, ../sass/main.scss */
.col-3 {
  width: 25%;
}

/* line 140, ../sass/main.scss */
.col-4 {
  width: 33.33333%;
}

/* line 140, ../sass/main.scss */
.col-5 {
  width: 41.66667%;
}

/* line 140, ../sass/main.scss */
.col-6 {
  width: 50%;
}

/* line 140, ../sass/main.scss */
.col-7 {
  width: 58.33333%;
}

/* line 140, ../sass/main.scss */
.col-8 {
  width: 66.66667%;
}

/* line 140, ../sass/main.scss */
.col-9 {
  width: 75%;
}

/* line 140, ../sass/main.scss */
.col-10 {
  width: 83.33333%;
}

/* line 140, ../sass/main.scss */
.col-11 {
  width: 91.66667%;
}

/* line 140, ../sass/main.scss */
.col-12 {
  width: 100%;
}

@media (max-width: 992px) {
  /* line 151, ../sass/main.scss */
  .col-tb-1 {
    width: 8.33333%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-2 {
    width: 16.66667%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-3 {
    width: 25%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-4 {
    width: 33.33333%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-5 {
    width: 41.66667%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-6 {
    width: 50%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-7 {
    width: 58.33333%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-8 {
    width: 66.66667%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-9 {
    width: 75%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-10 {
    width: 83.33333%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-11 {
    width: 91.66667%;
  }

  /* line 151, ../sass/main.scss */
  .col-tb-12 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  /* line 163, ../sass/main.scss */
  .col-mb-1 {
    width: 8.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-2 {
    width: 16.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-3 {
    width: 25%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-4 {
    width: 33.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-5 {
    width: 41.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-6 {
    width: 50%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-7 {
    width: 58.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-8 {
    width: 66.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-9 {
    width: 75%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-10 {
    width: 83.33333%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-11 {
    width: 91.66667%;
  }

  /* line 163, ../sass/main.scss */
  .col-mb-12 {
    width: 100%;
  }
}
/* line 171, ../sass/main.scss */
.social-icon {
  display: inline-block;
  vertical-align: middle;
  right: 0;
}
/* line 177, ../sass/main.scss */
.social-icon li {
  display: inline-block;
}
/* line 179, ../sass/main.scss */
.social-icon li a {
  display: block;
  height: 24px;
  width: 24px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../../img/icons/social-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons.svg");
  -moz-transition: all 650ms ease;
  -o-transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}
/* line 190, ../sass/main.scss */
.social-icon li a.icon-social-facebook {
  background-position: 0 -22px;
}
/* line 193, ../sass/main.scss */
.social-icon li a.icon-social-twitter {
  background-position: 0 0;
}
/* line 196, ../sass/main.scss */
.social-icon li a.icon-social-gplus {
  background-position: 0 -48px;
}
/* line 200, ../sass/main.scss */
.social-icon li a:hover {
  background-image: url("../../img/icons/social-icons_h.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons_h.svg");
}
/* line 206, ../sass/main.scss */
.social-icon li + li {
  margin-left: 10px;
}

/* line 212, ../sass/main.scss */
.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
}

/* line 219, ../sass/main.scss */
.header-section {
  width: 100%;
  position: relative;
  z-index: 10000;
  background-color: #f3f3f3;
}
/* line 227, ../sass/main.scss */
.header-section .logo-header {
  background-color: #872848;
  height: 77px;
}
/* line 232, ../sass/main.scss */
.header-section .logo-header .logo-cols {
  width: 50%;
  float: left;
}
/* line 236, ../sass/main.scss */
.header-section .logo-header .logo-cols .logo {
  display: inline-block;
  padding: 10px 0;
}
/* line 241, ../sass/main.scss */
.header-section .logo-header .contact-cols {
  width: 50%;
  float: left;
  text-align: right;
}
/* line 245, ../sass/main.scss */
.header-section .logo-header .contact-cols ul {
  padding: 25px 0;
}
/* line 247, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li {
  display: inline-block;
  color: #ffffff;
  font-size: 20px;
  font-family: 'roboto-bold';
  padding-left: 24px;
  position: relative;
  margin-left: 15px;
}
/* line 256, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.contact-icon {
  position: absolute;
  margin-top: -7px;
  top: 50%;
  left: 0;
  height: 15px;
  width: 16px;
  background-image: url("../../img/icons/contact-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/contact-icons.svg");
}
/* line 266, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.contact-icon.tp {
  background-position: 0 -15px;
}
/* line 269, ../sass/main.scss */
.header-section .logo-header .contact-cols ul li i.contact-icon.fax {
  background-position: 0 0;
}
/* line 278, ../sass/main.scss */
.header-section .logo {
  padding: 35px 0 0 0px;
}
/* line 287, ../sass/main.scss */
.header-section .contact-header .social-cols {
  width: 50%;
  float: left;
  text-align: right;
}
/* line 291, ../sass/main.scss */
.header-section .contact-header .social-cols ul {
  padding: 33px 0 27px;
}
/* line 293, ../sass/main.scss */
.header-section .contact-header .social-cols ul li {
  display: inline-block;
}
/* line 296, ../sass/main.scss */
.header-section .contact-header .social-cols ul li a {
  display: block;
  height: 19px;
  width: 24px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-image: url("../../img/icons/social-icons1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons1.svg");
  -moz-transition: all 650ms ease;
  -o-transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}
/* line 307, ../sass/main.scss */
.header-section .contact-header .social-cols ul li a.icon-social-facebook {
  background-position: 0 0px;
}
/* line 310, ../sass/main.scss */
.header-section .contact-header .social-cols ul li a.icon-social-twitter {
  background-position: 0 -20px;
}
/* line 313, ../sass/main.scss */
.header-section .contact-header .social-cols ul li a.icon-social-gplus {
  background-position: 0 -39px;
}
/* line 317, ../sass/main.scss */
.header-section .contact-header .social-cols ul li a:hover {
  background-image: url("../../img/icons/social-icons1.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons1.svg");
}
/* line 323, ../sass/main.scss */
.header-section .contact-header .social-cols ul li + li {
  margin-left: 20px;
}
/* line 328, ../sass/main.scss */
.header-section .contact-header .contact-cols {
  width: 50%;
  float: left;
  text-align: right;
}
/* line 332, ../sass/main.scss */
.header-section .contact-header .contact-cols ul {
  padding: 33px 0 27px;
}
/* line 334, ../sass/main.scss */
.header-section .contact-header .contact-cols ul li {
  display: inline-block;
  color: #747474;
  font-size: 18px;
  font-family: 'myriadpro-regular';
  padding-left: 24px;
  position: relative;
  margin-left: 15px;
}
/* line 343, ../sass/main.scss */
.header-section .contact-header .contact-cols ul li i.contact-icon {
  position: absolute;
  margin-top: -7px;
  top: 50%;
  left: 0;
  height: 15px;
  width: 16px;
  background-image: url("../../img/icons/contact-icons.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/contact-icons.svg");
}
/* line 353, ../sass/main.scss */
.header-section .contact-header .contact-cols ul li i.contact-icon.tp {
  background-position: 0 0px;
}
/* line 356, ../sass/main.scss */
.header-section .contact-header .contact-cols ul li i.contact-icon.fax {
  background-position: 0 -15px;
}
/* line 370, ../sass/main.scss */
.header-section .nav-header .navigation ul {
  text-align: right;
  line-height: 28px;
  margin-right: -15px;
}
/* line 374, ../sass/main.scss */
.header-section .nav-header .navigation ul li {
  display: inline-block;
  margin-left: 40px;
  position: relative;
}
/* line 378, ../sass/main.scss */
.header-section .nav-header .navigation ul li a {
  display: block;
  text-decoration: none;
  color: #000;
  font-size: 16px;
  padding: 0px 15px;
  font-family: 'myriadpro-regular';
  position: relative;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 390, ../sass/main.scss */
.header-section .nav-header .navigation ul li a:before {
  position: absolute;
  display: block;
  content: '';
  top: -5px;
  left: 0;
  width: 100%;
  height: 1px;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 402, ../sass/main.scss */
.header-section .nav-header .navigation ul li a:after {
  position: absolute;
  display: block;
  content: '';
  bottom: -6px;
  left: 0;
  width: 100%;
  height: 1px;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 420, ../sass/main.scss */
.header-section .nav-header .navigation ul li:hover a:before {
  top: 0;
  background-color: #000;
}
/* line 424, ../sass/main.scss */
.header-section .nav-header .navigation ul li:hover a:after {
  bottom: -1px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
/* line 431, ../sass/main.scss */
.header-section .nav-header .navigation ul li:hover ul.submenu {
  display: block;
}
/* line 438, ../sass/main.scss */
.header-section .nav-header .navigation ul li.active a:before {
  top: 0;
  background-color: #000;
}
/* line 442, ../sass/main.scss */
.header-section .nav-header .navigation ul li.active a:after {
  bottom: -1px;
  border-bottom: 1px solid #000;
  border-top: 1px solid #000;
}
/* line 452, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  line-height: initial;
  padding: 5px 15px;
  background-color: #ffffff;
  text-align: left;
  -moz-box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px;
  box-shadow: rgba(0, 0, 0, 0.22) 0 0 16px;
}
/* line 462, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu li {
  display: block;
}
/* line 464, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu li a {
  padding: 4px 16px;
  white-space: nowrap;
}
/* line 467, ../sass/main.scss */
.header-section .nav-header .navigation ul li ul.submenu li a:after, .header-section .nav-header .navigation ul li ul.submenu li a:before {
  display: none;
}

/* line 483, ../sass/main.scss */
.cover-section .slider-inner {
  background-color: #f3f3f3;
  padding: 26px 26px;
  height: calc(100vh - 111px);
}
/* line 488, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap {
  position: relative;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
}
/* line 494, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .vedio-wrap {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  overflow: hidden;
}
/* line 504, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .vedio-wrap video#bgvid {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url("../../img/vedio_cover.jpg") no-repeat;
  background-size: cover;
}
/* line 521, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .vedio-wrap .vedio-heading {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
/* line 528, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .vedio-wrap .vedio-heading h1 {
  font-size: 50px;
  color: #ffffff;
}
/* line 531, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .vedio-wrap .vedio-heading h1 span {
  display: block;
  font-size: 33px;
  color: #ffffff;
}
/* line 540, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 100%;
  background-color: #ffffff;
  z-index: 15;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 553, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .bannercontainer, .cover-section .slider-inner .slider-wrap .main-slider .banner, .cover-section .slider-inner .slider-wrap .main-slider .tp-banner-container {
  width: 100%;
  position: relative;
  padding: 0;
  height: 100% !important;
  max-height: 100% !important;
}
/* line 560, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-bullets.simplebullets.round .bullet {
  width: 15px;
  height: 15px;
  display: none;
}
/* line 570, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-img {
  top: initial !important;
  bottom: 6% !important;
  line-height: 1.35 !important;
  white-space: normal;
  font-family: arial;
  font-weight: bold;
  font-size: 88px  !important;
  color: #ffffff;
  margin-right: -361px !important;
  right: calc(((100% - 1202px)/ 2) + 15%) !important;
}
/* line 584, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-1 {
  top: initial !important;
  bottom: 57% !important;
  line-height: 1.35 !important;
  white-space: normal;
  font-family: arial;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 68px  !important;
  color: #d6a776;
  min-width: 600px !important;
  margin-left: -300px !important;
  left: calc(((100% - 1202px)/ 2) + 10%) !important;
}
/* line 599, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-2 {
  top: initial !important;
  bottom: 48% !important;
  line-height: 1.35 !important;
  white-space: normal;
  font-family: 'roboto-regular';
  font-weight: 100;
  text-transform: uppercase;
  font-size: 68px !important;
  color: #000000;
  min-width: 600px !important;
  margin-left: -300px !important;
  left: calc(((100% - 1202px)/ 2) + 10%) !important;
}
/* line 613, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-3 {
  top: initial !important;
  bottom: 40% !important;
  line-height: 1.35 !important;
  white-space: normal;
  font-family: 'diavlobook-regular';
  font-size: 26px !important;
  color: #000000;
  min-width: 600px !important;
  margin-left: -300px !important;
  left: calc(((100% - 1202px)/ 2) + 10%) !important;
}
/* line 625, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-btn {
  top: initial !important;
  bottom: 30% !important;
  min-width: 600px !important;
  margin-left: -300px !important;
  left: calc(((100% - 1202px)/ 2) + 10%) !important;
}
/* line 632, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-btn a {
  display: inline-block;
  padding: 20px 25px;
  color: #ffffff;
  background-color: #eb6592;
  position: relative;
  font-family: 'diavlobook-regular';
  font-size: 22px;
}
/* line 641, ../sass/main.scss */
.cover-section .slider-inner .slider-wrap .main-slider .tp-caption-btn a:after {
  content: '';
  display: block;
  position: absolute;
  left: -10px;
  top: -8px;
  height: 120%;
  width: 107%;
  border: #f8ccdb 2px solid;
}
/* line 659, ../sass/main.scss */
.cover-section .cover-inner {
  padding: 21% 0;
  max-width: 50%;
}
/* line 664, ../sass/main.scss */
.cover-section .about-cover-section {
  background-image: url("../../img/contact.jpg");
  background-size: cover;
  background-position: center center;
}
/* line 669, ../sass/main.scss */
.cover-section .contact-cover-section {
  position: relative;
}
/* line 671, ../sass/main.scss */
.cover-section .contact-cover-section .cover-inner {
  padding: 10% 0;
}
/* line 677, ../sass/main.scss */
.cover-section .products-cover-section .cover-inner {
  max-width: 26%;
}
/* line 682, ../sass/main.scss */
.cover-section h1 {
  font-size: 42px;
  font-family: 'diavlobook-regular';
  font-weight: bold;
  color: #872848;
  margin: 0 0;
  padding-bottom: 25px;
}
/* line 690, ../sass/main.scss */
.cover-section p {
  font-size: 18px;
  font-family: 'diavlobook-regular';
}
/* line 694, ../sass/main.scss */
.cover-section p span {
  color: #872848;
}
/* line 699, ../sass/main.scss */
.cover-section .map-container {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 703, ../sass/main.scss */
.cover-section .map-container .map-wrap {
  position: absolute;
  height: 100%;
  width: 100%;
}
/* line 708, ../sass/main.scss */
.cover-section .map-container .overlay {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U3ZTdlNyIgc3RvcC1vcGFjaXR5PSIwLjE1Ii8+PHN0b3Agb2Zmc2V0PSI2MSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background: -moz-linear-gradient(180deg, rgba(231, 231, 231, 0.15) 0%, #ffffff 61%, #ffffff 100%);
  background: -webkit-linear-gradient(180deg, rgba(231, 231, 231, 0.15) 0%, #ffffff 61%, #ffffff 100%);
  background: linear-gradient(270deg, rgba(231, 231, 231, 0.15) 0%, #ffffff 61%, #ffffff 100%);
}
/* line 717, ../sass/main.scss */
.cover-section .contact-form {
  padding-right: 15%;
  padding-top: 15px;
}
/* line 720, ../sass/main.scss */
.cover-section .contact-form .form-row {
  margin: 0 -15px;
  margin-bottom: 20px;
}
/* line 724, ../sass/main.scss */
.cover-section .contact-form .form-row .form-group {
  text-align: left;
}
/* line 726, ../sass/main.scss */
.cover-section .contact-form .form-row .form-group input, .cover-section .contact-form .form-row .form-group textarea {
  text-align: left;
  display: inline-block;
  width: 100%;
  padding: 15px 0;
  background-color: #ffffff;
  border: none;
  outline: none;
  color: #c2c2c2;
  border-bottom: #c2c2c2 1px solid;
  font-family: 'diavlobook-regular';
  font-size: 15px;
}
/* line 739, ../sass/main.scss */
.cover-section .contact-form .form-row .form-group button {
  font-size: 27px;
  background-color: #872848;
  border: none;
  border-radius: 35px 35px;
  padding: 15px 55px;
  padding-right: 90px;
  color: #fff;
  position: relative;
  overflow: hidden;
  left: -30px;
  font-family: 'diavlobook-regular';
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-image: url("../../img/icons/arrow.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/arrow.svg");
}
/* line 755, ../sass/main.scss */
.cover-section .contact-form .form-row .form-group button:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: #dedede;
  z-index: 15;
}
@media (max-width: 768px) {
  /* line 771, ../sass/main.scss */
  .cover-section .contact-form .form-row {
    margin: 0 -15px;
  }
  /* line 773, ../sass/main.scss */
  .cover-section .contact-form .form-row .form-group {
    margin-bottom: 30px;
  }
  /* line 775, ../sass/main.scss */
  .cover-section .contact-form .form-row .form-group textarea {
    max-width: 100%;
    margin: 0 0;
  }
}
/* line 785, ../sass/main.scss */
.cover-section .products-cover {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 74%;
}
/* line 793, ../sass/main.scss */
.cover-section .products-cover .box-main {
  width: 40%;
  padding-bottom: 40%;
  position: absolute;
  left: 23%;
  top: 28%;
  z-index: 5;
  overflow: hidden;
  -moz-transform: translateY(-50%) translateX(-50%);
  -ms-transform: translateY(-50%) translateX(-50%);
  -webkit-transform: translateY(-50%) translateX(-50%);
  transform: translateY(-50%) translateX(-50%);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/* line 805, ../sass/main.scss */
.cover-section .products-cover .box-main img {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -ms-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(45deg);
  transform: translateY(-50%) translateX(-50%) rotate(45deg);
}
/* line 814, ../sass/main.scss */
.cover-section .products-cover .box-main.box-sub {
  width: 34%;
  padding-bottom: 30%;
  left: 56%;
  top: 32%;
  z-index: 6;
  border: 15px solid #ffffff;
}
/* line 823, ../sass/main.scss */
.cover-section .products-cover .box-main.box-small-top {
  width: 16%;
  padding-bottom: 16%;
  left: 53%;
  top: 14%;
  z-index: 2;
  border: 15px solid #ffffff;
  background-position: 0 bottom;
  background-image: url(../../img/4.png);
  background-repeat: no-repeat;
}
/* line 835, ../sass/main.scss */
.cover-section .products-cover .box-main.box-small-bottom {
  width: 16%;
  padding-bottom: 12%;
  left: 53%;
  top: 73%;
  z-index: 2;
  border: 15px solid #ffffff;
}

/* line 850, ../sass/main.scss */
.body-section {
  padding: 0 15px;
}
/* line 853, ../sass/main.scss */
.body-section .row-category {
  background-color: #872848;
  padding: 30px 0;
  margin-bottom: 115px;
}
/* line 859, ../sass/main.scss */
.body-section .row-partner {
  background-color: #872848;
  padding: 30px 0;
  margin-bottom: 115px;
}
/* line 865, ../sass/main.scss */
.body-section .row-contact {
  background-color: #872848;
  padding: 0 0;
}
/* line 870, ../sass/main.scss */
.body-section .row-products {
  background-color: #872848;
  padding: 0 0;
  margin-bottom: 45px;
}
/* line 876, ../sass/main.scss */
.body-section h1 {
  font-size: 42px;
  font-weight: bold;
  color: #872848;
  font-family: 'diavlobook-regular';
  margin-bottom: 50px;
  position: relative;
}
/* line 884, ../sass/main.scss */
.body-section h1:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -8px;
  left: 50%;
  margin-left: -25px;
  width: 50px;
  height: 4px;
  background-color: #872848;
  -moz-transform: skew(-30deg);
  -ms-transform: skew(-30deg);
  -webkit-transform: skew(-30deg);
  transform: skew(-30deg);
}
/* line 898, ../sass/main.scss */
.body-section p {
  font-family: 'diavlobook-regular';
  font-size: 16px;
}
/* line 902, ../sass/main.scss */
.body-section p span {
  color: #872848;
  font-weight: bold;
}
/* line 908, ../sass/main.scss */
.body-section .containt-wrap {
  margin-bottom: 115px;
}
/* line 910, ../sass/main.scss */
.body-section .containt-wrap.center-wrap {
  text-align: center;
}
/* line 917, ../sass/main.scss */
.body-section .category-box {
  padding: 35px 30px 15px 35px;
  background-color: #ffffff;
  width: calc((100% - 68px)/3);
  float: left;
  position: relative;
  max-height: 200px;
  min-height: 200px;
  overflow: hidden;
  /*------------------------------------*/
  /*------------------------------------*/
}
/* line 927, ../sass/main.scss */
.body-section .category-box .category-inner {
  position: relative;
  z-index: 10;
}
/* line 932, ../sass/main.scss */
.body-section .category-box h3 {
  margin-bottom: 12px;
  font-family: 'diavlobook-regular';
  font-weight: bold;
  font-size: 22px;
}
/* line 938, ../sass/main.scss */
.body-section .category-box p {
  margin-bottom: 15px;
  font-family: 'myriadpro-regular';
  max-width: 65%;
  font-size: 15px;
}
/* line 945, ../sass/main.scss */
.body-section .category-box a {
  text-decoration: none;
  font-weight: bold;
  color: #872848;
  font-family: 'diavlobook-regular';
  font-size: 18px;
}
/* line 953, ../sass/main.scss */
.body-section .category-box img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 5;
  height: 100%;
}
@media (max-width: 1200px) {
  /* line 917, ../sass/main.scss */
  .body-section .category-box {
    max-height: 200px;
    min-height: 200px;
  }
  /* line 965, ../sass/main.scss */
  .body-section .category-box h3 {
    font-size: 20px;
  }
  /* line 968, ../sass/main.scss */
  .body-section .category-box p {
    max-width: 85%;
  }
  /* line 971, ../sass/main.scss */
  .body-section .category-box a {
    font-size: 16px;
  }
}
/* line 978, ../sass/main.scss */
.body-section .category-box + .category-box {
  margin-left: 34px;
}
/* line 982, ../sass/main.scss */
.body-section .partner-box {
  background-color: #ffffff;
  width: calc((100% - 100px)/5);
  float: left;
  position: relative;
}
/* line 989, ../sass/main.scss */
.body-section .partner-box img {
  margin-bottom: -4px;
  width: 100%;
}
/* line 994, ../sass/main.scss */
.body-section .partner-box + .partner-box {
  margin-left: 25px;
}
/* line 998, ../sass/main.scss */
.body-section .contact-box {
  background: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzk5MzQ1NiIvPjxzdG9wIG9mZnNldD0iOTklIiBzdG9wLWNvbG9yPSIjODcyODQ4Ii8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjODcyODQ4Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background: -moz-linear-gradient(0deg, #993456 0%, #872848 99%, #872848 100%);
  background: -webkit-linear-gradient(0deg, #993456 0%, #872848 99%, #872848 100%);
  background: linear-gradient(90deg, #993456 0%, #872848 99%, #872848 100%);
  float: left;
  position: relative;
  padding: 50px 35px;
}
/* line 1005, ../sass/main.scss */
.body-section .contact-box p {
  font-size: 16px;
  color: #ffffff;
}
/* line 1010, ../sass/main.scss */
.body-section .contact-box i.con-icon {
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -12px;
  height: 25px;
  width: 28px;
  display: block;
  background-image: url("../../img/icons/all.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/all.svg");
}
/* line 1021, ../sass/main.scss */
.body-section .contact-box i.con-icon.location {
  background-position: 0 0;
}
/* line 1024, ../sass/main.scss */
.body-section .contact-box i.con-icon.tp {
  background-position: 0 -26px;
}
/* line 1027, ../sass/main.scss */
.body-section .contact-box i.con-icon.fax {
  background-position: 0 -75px;
}
/* line 1030, ../sass/main.scss */
.body-section .contact-box i.con-icon.email {
  background-position: 0 -50px;
}
/* line 1037, ../sass/main.scss */
.body-section .facility {
  padding-top: 30px;
}
/* line 1040, ../sass/main.scss */
.body-section .facility .facility-item {
  float: left;
  padding: 25px 21px;
  border: 1px #872848 solid;
  width: calc((100% - 90px)/4);
  border-bottom-right-radius: 70px;
  text-align: left;
  position: relative;
}
/* line 1049, ../sass/main.scss */
.body-section .facility .facility-item h3 {
  font-size: 22px;
  font-family: 'diavlobook-regular';
  font-weight: bold;
  color: #872848;
  margin-bottom: 10px;
}
/* line 1057, ../sass/main.scss */
.body-section .facility .facility-item p {
  padding-right: 65px;
}
/* line 1060, ../sass/main.scss */
.body-section .facility .facility-item i.facility-icon {
  position: absolute;
  margin-top: -23px;
  top: 50%;
  right: 6%;
  height: 46px;
  width: 64px;
  background-image: url("../../img/icons/all-vehicles.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/all-vehicles.svg");
}
/* line 1070, ../sass/main.scss */
.body-section .facility .facility-item i.facility-icon.loading {
  background-position: 0 0;
}
/* line 1073, ../sass/main.scss */
.body-section .facility .facility-item i.facility-icon.delivery {
  background-position: 0 -46px;
}
/* line 1076, ../sass/main.scss */
.body-section .facility .facility-item i.facility-icon.deliveryontime {
  background-position: 0 -92px;
}
/* line 1079, ../sass/main.scss */
.body-section .facility .facility-item i.facility-icon.unloading {
  background-position: 0 -138px;
}
/* line 1085, ../sass/main.scss */
.body-section .facility .facility-item + .facility-item {
  margin-left: 30px;
}
/* line 1090, ../sass/main.scss */
.body-section .products-navigation {
  position: relative;
  /*------------------------------------*/
  /*------------------------------------*/
}
/* line 1094, ../sass/main.scss */
.body-section .products-navigation ul {
  display: block;
  overflow: hidden;
  max-height: 90px;
}
/* line 1098, ../sass/main.scss */
.body-section .products-navigation ul li {
  display: inline-block;
  width: 24%;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
  vertical-align: center;
}
/* line 1103, ../sass/main.scss */
.body-section .products-navigation ul li a {
  display: block;
  font-size: 23px;
  text-decoration: none;
  color: #ffffff;
  font-family: 'diavlobook-regular';
  padding: 31px 0;
  text-align: center;
}
/* line 1112, ../sass/main.scss */
.body-section .products-navigation ul li.active {
  background-color: #671330;
}
/* line 1115, ../sass/main.scss */
.body-section .products-navigation ul li:hover {
  background-color: #671330;
}
/* line 1121, ../sass/main.scss */
.body-section .products-navigation .pro-controls {
  height: 23px;
  width: 13px;
  position: absolute;
  top: 50%;
  margin-top: -11px;
  cursor: pointer;
  background-image: url("../../img/icons/nav-arrows.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/nav-arrows.svg");
}
/* line 1131, ../sass/main.scss */
.body-section .products-navigation .pro-controls.pro-prev {
  left: -80px;
  background-position: 0 0;
}
/* line 1135, ../sass/main.scss */
.body-section .products-navigation .pro-controls.pro-next {
  right: -80px;
  background-position: 0 -24px;
}
@media (max-width: 1490px) {
  /* line 1145, ../sass/main.scss */
  .body-section .products-navigation .pro-controls.pro-prev {
    left: -12px;
  }
  /* line 1148, ../sass/main.scss */
  .body-section .products-navigation .pro-controls.pro-next {
    right: -12px;
  }
}
@media (max-width: 1200px) {
  /* line 1155, ../sass/main.scss */
  .body-section .products-navigation ul li {
    width: 33%;
  }
  /* line 1162, ../sass/main.scss */
  .body-section .products-navigation .pro-controls.pro-prev {
    left: -20px;
  }
  /* line 1165, ../sass/main.scss */
  .body-section .products-navigation .pro-controls.pro-next {
    right: -20px;
  }
}
/* line 1175, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation {
  margin-bottom: 45px;
}
/* line 1177, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul {
  border-bottom: #c2c2c2 1px solid;
}
/* line 1179, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul li {
  display: inline-block;
  margin-right: 25px;
  -moz-transition: all 450ms ease;
  -o-transition: all 450ms ease;
  -webkit-transition: all 450ms ease;
  transition: all 450ms ease;
}
/* line 1183, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul li a {
  display: block;
  text-decoration: none;
  outline: none;
}
/* line 1187, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul li a h6 {
  padding: 15px 0;
  font-size: 18px;
  color: #000000;
  font-family: 'diavlobook-regular';
  position: relative;
}
/* line 1194, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul li a h6:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  bottom: 0;
}
/* line 1205, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul li a.active h6 {
  color: #671330;
}
/* line 1207, ../sass/main.scss */
.body-section .products-tab-master .sub-navigation ul li a.active h6:after {
  background-color: #872848;
}
/* line 1217, ../sass/main.scss */
.body-section .products-tab-master .products-containts .loading {
  text-align: center;
  display: none;
}
/* line 1220, ../sass/main.scss */
.body-section .products-tab-master .products-containts .loading .loading-box {
  display: inline-block;
  width: 50px;
  height: 50px;
  background-size: cover;
  background-image: url("../../img/rolling.gif");
}
/* line 1228, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list {
  display: none;
}
/* line 1232, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list.veiw-element {
  display: block;
}
/* line 1236, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .row {
  margin-bottom: 55px;
}
/* line 1240, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .btn-defult {
  text-decoration: none;
  display: inline-block;
  font-size: 27px;
  background-color: #872848;
  border: none;
  border-radius: 35px 35px;
  padding: 8px 55px;
  padding-right: 90px;
  color: #fff;
  position: relative;
  overflow: hidden;
  left: -30px;
  font-family: 'diavlobook-regular';
  margin: 30px 0;
  background-repeat: no-repeat;
  background-position: 90% 50%;
  background-image: url("../../img/icons/settings.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/settings.svg");
}
/* line 1259, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .btn-defult:after {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 30px;
  height: 100%;
  background-color: #dedede;
  z-index: 15;
}
/* line 1272, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .image-cols {
  text-align: right;
}
/* line 1274, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .image-cols img {
  margin-top: 45px;
  max-width: 392px;
}
/* line 1280, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .heading {
  border-bottom: #c2c2c2 1px solid;
  margin-bottom: 50px;
}
/* line 1283, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .heading h6 {
  font-size: 22px;
  color: #872848;
  background-color: #ffffff;
  display: inline-block;
  font-family: 'diavlobook-regular';
  margin-bottom: -2px;
  padding-right: 15px;
}
/* line 1295, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li {
  display: inline-block;
  width: 24%;
  margin-bottom: 20px;
  vertical-align: top;
}
/* line 1302, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li i.features-icon {
  width: 36px;
  height: 30px;
  display: block;
  margin-bottom: 12px;
  background-image: url("../../img/icons/sizes.png");
  background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/sizes.svg");
}
/* line 1310, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li i.features-icon.dimension {
  background-position: 0 0;
}
/* line 1313, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li i.features-icon.thickness {
  background-position: 0 -29px;
}
/* line 1316, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li i.features-icon.core {
  background-position: 0 -58px;
}
/* line 1319, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li i.features-icon.grades {
  background-position: 0 -87px;
}
/* line 1322, ../sass/main.scss */
.body-section .products-tab-master .products-containts .products-list .features li i.features-icon.importing {
  background-position: 0 -115px;
}
/* line 1332, ../sass/main.scss */
.body-section .products-tab-master h1 {
  margin: 0;
  margin-bottom: 50px;
}
/* line 1335, ../sass/main.scss */
.body-section .products-tab-master h1:after {
  left: 0;
  margin-left: 0;
}
/* line 1340, ../sass/main.scss */
.body-section .products-tab-master p.defult-font {
  font-family: 'myriadpro-regular';
  font-size: 16px;
}

/* line 1347, ../sass/main.scss */
.footer-section {
  background-color: #872848;
  padding-top: 140px;
}
/* line 1351, ../sass/main.scss */
.footer-section span.footer-line {
  margin-top: 106px;
  display: block;
  width: 100%;
  height: 20px;
  background-color: #45041a;
}
/* line 1359, ../sass/main.scss */
.footer-section h3 {
  font-size: 18px;
  font-family: 'diavlobook-regular';
  font-weight: 100;
  color: #ffffff;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/* line 1368, ../sass/main.scss */
.footer-section p {
  font-size: 15px;
  font-family: 'diavlobook-regular';
  color: #ffffff;
  margin-bottom: 10px;
}
/* line 1376, ../sass/main.scss */
.footer-section .containt-slide .social-icon {
  margin: 25px 0;
}
/* line 1379, ../sass/main.scss */
.footer-section .containt-slide.footer-about {
  padding-right: 25%;
}
/* line 1384, ../sass/main.scss */
.footer-section .qr-img {
  margin: 25px 0;
  max-width: 95px;
}
/* line 1389, ../sass/main.scss */
.footer-section .subscribe {
  padding-top: 8px;
}
/* line 1391, ../sass/main.scss */
.footer-section .subscribe input {
  border: none;
  background-color: #ffffff;
  margin-bottom: 12px;
  margin-top: 5px;
  color: #000000;
  max-width: 148px;
  width: 100%;
  padding: 6px 8px;
}
/* line 1402, ../sass/main.scss */
.footer-section .subscribe::-webkit-input-placeholder {
  color: #EBEBEB;
}
/* line 1405, ../sass/main.scss */
.footer-section .subscribe::-ms-input-placeholder {
  color: #EBEBEB;
}
/* line 1408, ../sass/main.scss */
.footer-section .subscribe::-moz-placeholder {
  color: #EBEBEB;
}
/* line 1412, ../sass/main.scss */
.footer-section .subscribe button {
  background-color: #000000;
  border: none;
  display: inline-block;
  width: 100%;
  max-width: 75px;
  padding: 7px;
  color: #ffffff;
  cursor: pointer;
  -moz-transition: all 650ms ease;
  -o-transition: all 650ms ease;
  -webkit-transition: all 650ms ease;
  transition: all 650ms ease;
}
/* line 1422, ../sass/main.scss */
.footer-section .subscribe button:hover {
  background-color: #45041a;
}
