@import "compass/css3";
/* Commen Styles */

* {
	padding:0;
	margin:0;
	@include box-sizing(border-box);
}

%clearfix {
  &:before, &:after {
    content:" ";
    display:table;
  }

  &:after {
    clear:both;
  }

  & {
    *zoom:1;
  }
}

@font-face {
    font-family: 'roboto-regular';
    src: url('../../fonts/roboto-regular/Roboto-Regular-webfont.eot');
    src: url('../../fonts/roboto-regular/Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-regular/Roboto-Regular-webfont.woff') format('woff'),
         url('../../fonts/roboto-regular/Roboto-Regular-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-regular/Roboto-Regular-webfont.svg#roboto-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'roboto-bold';
    src: url('../../fonts/roboto-Bold/Roboto-Bold-webfont.eot');
    src: url('../../fonts/roboto-Bold/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/roboto-Bold/Roboto-Bold-webfont.woff') format('woff'),
         url('../../fonts/roboto-Bold/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../../fonts/roboto-Bold/Roboto-Bold-webfont.svg#roboto-bold') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'diavlobook-regular';
    src: url('../../fonts/diavlobook-regular/DiavloBook-Regular.eot');
    src: url('../../fonts/diavlobook-regular/DiavloBook-Regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/diavlobook-regular/DiavloBook-Regular.woff') format('woff'),
         url('../../fonts/diavlobook-regular/DiavloBook-Regular.ttf') format('truetype'),
         url('../../fonts/diavlobook-regular/DiavloBook-Regular.svg#diavlobook-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;
}

@font-face {
    font-family: 'myriadpro-regular';
    src: url('../../fonts/myriadpro-regular/myriadpro-regular.eot');
    src: url('../../fonts/myriadpro-regular/myriadpro-regular.eot?#iefix') format('embedded-opentype'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.woff') format('woff'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.ttf') format('truetype'),
         url('../../fonts/myriadpro-regular/myriadpro-regular.svg#myriadpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -webkit-text-stroke-width: 0.2px;
    -moz-osx-font-smoothing: grayscale;


}


html,body {
  width:100%;
  //height:100%;
  font-size:15px;
  line-height: 1.25;
}


.container {
  max-width:1202px;
  margin:0 auto;
  padding:0 15px;
  position: relative;
  z-index: 2;
  @extend %clearfix;

  &.container-full {
    max-width: 100%;
  }

  &.container-header {
    max-width: 1430px;
  }


  @media (min-width:768px){
    max-width:750px;
  }

  @media (min-width:992px){
    max-width:960px;
  }

  @media (min-width:1200px){
    max-width:1202px;
  }

}

.row {
  @extend %clearfix;
  margin: 0 -15px;
}

[class*='col-'] {
    width: 100%;
    min-height: 1px; 
    float: left;
    position: relative;
    padding-left:15px;
    padding-right:15px;
} 


@for $i from 1 through 12 {
 
    .col-#{$i} { 
      width: 100% / 12 * $i;
    }
 
}


@media(max-width:992px) {

    @for $i from 1 through 12 {
     
        .col-tb-#{$i} { 
          width: 100% / 12 * $i;
        }
     
    }

}

@media(max-width:768px) {

    @for $i from 1 through 12 {
     
        .col-mb-#{$i} { 
          width: 100% / 12 * $i;
        }
     
    }

}

.social-icon {
  // padding-top:30px;
  display: inline-block;
  vertical-align: middle;
  right: 0;
  //padding-bottom:22px;
  li {
    display: inline-block;
    a {
      display: block;
      height: 24px;
      width: 24px;
      background-size:100% auto;
      background-repeat: no-repeat;
      background-position: 0 0;
      background-image: url("../../img/icons/social-icons.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons.svg");
      @include transition(all 650ms ease);

      &.icon-social-facebook {
        background-position: 0 -22px;
      }
      &.icon-social-twitter {
        background-position: 0 0;
      }
      &.icon-social-gplus {
        background-position: 0 -48px;
      }

      &:hover {
        background-image: url("../../img/icons/social-icons_h.png");
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons_h.svg");
      }
    }
  }
  li + li {
    margin-left: 10px;
  }
}


.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  height: 100vh;
}

.header-section {
  width: 100%;
  position: relative;
  z-index: 10000;
  //position: absolute;
  //height: 126px;
  background-color: #f3f3f3;
  //padding-bottom:12px;
  .logo-header {
    background-color: #872848;
    height: 77px;
    @extend %clearfix;

    .logo-cols {
      width: 50%;
      float: left;

      .logo {
        display: inline-block;
        padding: 10px 0;
      }
    }
    .contact-cols {
      width: 50%;
      float: left;
      text-align: right;
      ul {
        padding:25px 0;
        li {
          display: inline-block;
          color: #ffffff;
          font-size: 20px;
          font-family: 'roboto-bold';
          padding-left:24px;
          position: relative;
          margin-left: 15px;

          i.contact-icon {
            position: absolute;
            margin-top: -7px;
            top:50%;
            left: 0;
            height: 15px;
            width: 16px;
            background-image: url("../../img/icons/contact-icons.png");
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/contact-icons.svg");

            &.tp {
              background-position:0 -15px;
            }
            &.fax {
              background-position:0 0;
            }
          }
        }
      }
    }
  }

  .logo {
    padding:35px 0 0 0px;
    a {
      //display: block;
    }
  }

  .contact-header {
    @extend %clearfix;
    .social-cols {
      width: 50%;
      float: left;
      text-align:right;
      ul {
        padding:33px 0 27px;
         li {
          display: inline-block;

          a {
            display: block;
            height: 19px;
            width: 24px;
            background-size:100% auto;
            background-repeat: no-repeat;
            background-position: 0 0;
            background-image: url("../../img/icons/social-icons1.png");
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons1.svg");
            @include transition(all 650ms ease);

            &.icon-social-facebook {
              background-position: 0 0px;
            }
            &.icon-social-twitter {
              background-position: 0 -20px;
            }
            &.icon-social-gplus {
              background-position: 0 -39px;
            }

            &:hover {
              background-image: url("../../img/icons/social-icons1.png");
              background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/social-icons1.svg");
            }
          }
        }
        li + li {
          margin-left: 20px;
        }
      }
    }
    .contact-cols {
      width: 50%;
      float: left;
      text-align: right;
      ul {
        padding:33px 0 27px;
        li {
          display: inline-block;
          color: #747474;
          font-size: 18px;
          font-family: 'myriadpro-regular';
          padding-left:24px;
          position: relative;
          margin-left: 15px;

          i.contact-icon {
            position: absolute;
            margin-top: -7px;
            top:50%;
            left: 0;
            height: 15px;
            width: 16px;
            background-image: url("../../img/icons/contact-icons.png");
            background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/contact-icons.svg");

            &.tp {
              background-position:0 0px;
            }
            &.fax {
              background-position:0 -15px;
            }
          }
        }
      }
    }
  }

  .nav-header {
    //background-color: #e7e7e7;
   // @include background(linear-gradient(270deg, rgba(231,231,231,0.15) 0, #e7e7e7 35%, #e7e7e7 100%));

    .navigation {
      ul {
        text-align:right;
        line-height: 28px;
        margin-right: -15px;
        li {
          display: inline-block;
          margin-left: 40px;
          position: relative;
          a {
            display: block;
            text-decoration: none;
            color: #000;
            //text-transform: uppercase;
            font-size: 16px;
            padding:0px 15px;
            font-family: 'myriadpro-regular';
            position: relative;
            //font-family: 'roboto-regular';
            @include transition(all 450ms ease);

            &:before {
                position: absolute;
                display: block;
                content: '';
                top:-5px;
                left: 0;
                width: 100%;
                height: 1px;
                @include transition(all 450ms ease);
                //background-color: #000;

              }
              &:after {
                position: absolute;
                display: block;
                content: '';
                bottom:-6px;
                left: 0;
                width: 100%;
                height: 1px;
                @include transition(all 450ms ease);
                //border-bottom:1px solid #000;
               // border-top:1px solid #000;
                //background-color: #000;
              }
          }

          &:hover {
            a {
              //background-color: #ffffff;
              &:before {
                top:0;
                background-color: #000;
              }
              &:after {
                bottom:-1px;
                border-bottom:1px solid #000;
                border-top:1px solid #000;
                //background-color: #000;
              }
            }
            ul.submenu {
              display: block;
            }
          }

          &.active {
            a {
              &:before {
                top:0;
                background-color: #000;
              }
              &:after {
                bottom:-1px;
                border-bottom:1px solid #000;
                border-top:1px solid #000;
                //background-color: #000;
              }
              
            }
          }

          ul.submenu {
            position: absolute;
            display: none;
            top:100%;
            left: 0;
            line-height: initial;
            padding:5px 15px;
            background-color:#ffffff;
            text-align: left;
            @include box-shadow(rgba(0, 0, 0, 0.22) 0 0 16px);
            li {
              display: block;
              a {
                padding: 4px 16px;
                white-space: nowrap;
                &:after, &:before {
                  display: none;
                }
              }
            }
          }
        }
      }
    }
  }

}

.cover-section {
  //margin-top: -50px;

  .slider-inner {
    background-color:#f3f3f3;
    padding:26px 26px;
    height: calc(100vh - 111px);

    .slider-wrap {
      position: relative;
      height: 100%;
      width: 100%;
      background-color:#ffffff;

      .vedio-wrap {
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 0;
        //display: none;
        //background-color:red;
        z-index: 10;
        overflow: hidden;
        video#bgvid { 
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          min-width: 100%;
          min-height: 100%;
          width: auto;
          height: auto;
          z-index: -100;
          -ms-transform: translateX(-50%) translateY(-50%);
          -moz-transform: translateX(-50%) translateY(-50%);
          -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
          background: url('../../img/vedio_cover.jpg') no-repeat;
          background-size: cover; 
        }
        .vedio-heading {
          position: absolute;
          left: 0;
          right: 0;
          bottom:0;
          width: 100%;
          text-align:center;
          h1 {
            font-size: 50px;
            color:#ffffff;
            span {
              display: block;
              font-size: 33px;
              color:#ffffff;
            }
          }
        }
      }

      .main-slider {
        //display: none;
        //opacity: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        top:0;
        left: 100%;
        background-color:#ffffff;
        z-index: 15;
        @include transition(all 450ms ease);


        .bannercontainer, .banner ,.tp-banner-container {
          width:100%;
          position:relative;
          padding:0;
          height: 100% !important;
          max-height: 100% !important;
        }
        .tp-bullets.simplebullets.round .bullet {
          width: 15px;
          height: 15px;
          display: none;
        }
        .tp-caption {
          //min-width: 712px !important;
          
        }

        .tp-caption-img {
          top:initial !important;
          bottom:6% !important;
          line-height: 1.35 !important;
          white-space: normal;
          font-family: arial;
          font-weight: bold;
          font-size: 88px  !important;
          color: #ffffff;
          margin-right: -361px !important;
          right: calc(((100% - 1202px)/ 2) + 15%) !important;
          
        }

        .tp-caption-1 {
          top:initial !important;
          bottom:57% !important;
          line-height: 1.35 !important;
          white-space: normal;
          font-family: arial;
          font-weight: bold;
          text-transform: uppercase;
          font-size: 68px  !important;
          color: #d6a776;
          min-width: 600px !important;
          margin-left: -300px !important;
          left: calc(((100% - 1202px)/ 2) + 10%) !important;
          
        }
        .tp-caption-2 {
          top:initial !important;
          bottom:48% !important;
          line-height: 1.35 !important;
          white-space: normal;
          font-family: 'roboto-regular';
          font-weight: 100;
          text-transform: uppercase;
          font-size: 68px !important;
          color: #000000;
          min-width: 600px !important;
          margin-left: -300px !important;
          left: calc(((100% - 1202px)/ 2) + 10%) !important;
        }
        .tp-caption-3 {
          top:initial !important;
          bottom:40% !important;
          line-height: 1.35 !important;
          white-space: normal;
          font-family: 'diavlobook-regular';
          font-size: 26px !important;
          color: #000000;
          min-width: 600px !important;
          margin-left: -300px !important;
          left: calc(((100% - 1202px)/ 2) + 10%) !important;
        }
        .tp-caption-btn {
          top:initial !important;
          bottom:30% !important;
          min-width: 600px !important;
          margin-left: -300px !important;
          left: calc(((100% - 1202px)/ 2) + 10%) !important;

          a {
            display: inline-block;
            padding:20px 25px;
            color: #ffffff;
            background-color:#eb6592;
            position: relative;
            font-family: 'diavlobook-regular';
            font-size: 22px;

            &:after {
              content: '';
              display: block;
              position: absolute;
              left: -10px;
              top: -8px;
              height: 120%;
              width: 107%;
              //background-color:#000;
              border:#f8ccdb 2px solid;
            }
          }
        }

      }
    }
  }

  .cover-inner {
    padding:21% 0;
    max-width: 50%;
  }

  .about-cover-section {
    background-image:url('../../img/contact.jpg');
    background-size: cover;
    background-position:center center;
  }
  .contact-cover-section{
    position: relative;
    .cover-inner {
      padding:10% 0;
    }
  }

  .products-cover-section {
    .cover-inner {
      max-width: 26%;
    }
  }
  
  h1 {
    font-size: 42px;
    font-family: 'diavlobook-regular';
    font-weight: bold;
    color:#872848;
    margin: 0 0;
    padding-bottom:25px;
  }
  p {
    font-size: 18px;
    font-family: 'diavlobook-regular';

    span {
      color:#872848;
    }
  }

  .map-container {
    position: absolute;
    height: 100%;
    width: 100%;
    .map-wrap {
      position: absolute;
      height: 100%;
      width: 100%;
    }
    .overlay {
      position: absolute;
      z-index: 2;
      height: 100%;
      width: 100%;
      @include background(linear-gradient(270deg, rgba(231,231,231,0.15) 0, #ffffff 61%, #ffffff 100%));
    }
  }

  .contact-form {
    padding-right:15%;
    padding-top: 15px;
    .form-row {
      margin :0 -15px;
      margin-bottom: 20px;
      @extend %clearfix;
      .form-group {
        text-align:left;
        input, textarea {
          text-align:left;
          display: inline-block;
          width: 100%;
          padding:15px 0;
          background-color:#ffffff;
          border:none;
          outline: none;
          color:#c2c2c2;
          border-bottom:#c2c2c2 1px solid;
          font-family: 'diavlobook-regular';
          font-size: 15px;
        }
        button {
          font-size: 27px;
          background-color: #872848;
          border: none;
          border-radius: 35px 35px;
          padding: 15px 55px;
          padding-right:90px;
          color: #fff;
          position: relative;
          overflow: hidden;
          left: -30px;
          font-family: 'diavlobook-regular';
          background-repeat: no-repeat;
          background-position: 90% 50%;
          background-image: url("../../img/icons/arrow.png");
          background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/arrow.svg");
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top:0;
            width: 30px;
            height: 100%;
            background-color:#dedede;
            z-index: 15;
          }
        }
      }
    }
    // ********************************
    @media (max-width:768px) {
      .form-row {
        margin: 0 -15px;
        .form-group {
          margin-bottom: 30px;
          textarea {
            max-width: 100%;
            margin: 0 0;
          }
        }
      }
    }
    // ********************************
  }

  .products-cover {
    position: absolute;
    top:0;
    right: 0;
    height: 100%;
    width: 74%;

    //260*2 500
    .box-main {
      width: 40%;
      //height: 54%;
      padding-bottom:40%;
      position: absolute;
      left: 23%;
      top: 28%;
      z-index: 5;
      overflow: hidden;
      @include transform(translateY(-50%) translateX(-50%));
      @include transform(rotate(-45deg));

      img {
        position: absolute;
        top:50%;
        left: 50%;
        //width: 100%;
       // height: 100%;
        @include transform(translateY(-50%) translateX(-50%) rotate(45deg));
      }

      &.box-sub {
        width: 34%;
        //height: 45%;
        padding-bottom:30%;
        left: 56%;
        top: 32%;
        z-index: 6;
        border: 15px solid #ffffff;
      }
      &.box-small-top {
        width: 16%;
        //height: 23%;
        padding-bottom:16%;
        left: 53%;
        top: 14%;
        z-index: 2;
        border: 15px solid #ffffff;
        background-position: 0 bottom;
        background-image: url(../../img/4.png);
        background-repeat: no-repeat;
      }
      &.box-small-bottom {
        width: 16%;
        //height: 23%;
        padding-bottom:12%;
        left: 53%;
        top: 73%;
        z-index: 2;
        border: 15px solid #ffffff;
      }
    }
  }

}


.body-section {
  padding:0 15px;

  .row-category {
    background-color:#872848;
    padding:30px 0;
    margin-bottom: 115px;
  }

  .row-partner {
    background-color:#872848;
    padding:30px 0;
    margin-bottom: 115px;
  }

  .row-contact {
    background-color:#872848;
    padding:0 0;
  }

  .row-products {
    background-color:#872848;
    padding:0 0;
    margin-bottom: 45px;
  }

  h1 {
    font-size: 42px;
    font-weight: bold;
    color: #872848;
    font-family: 'diavlobook-regular';
    margin-bottom: 50px;
    position: relative;

    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -8px;
      left: 50%;
      margin-left: -25px;
      width: 50px;
      height: 4px;
      background-color:#872848;
      @include transform(skew(-30deg));
    }
  }

  p {
    font-family: 'diavlobook-regular';
    font-size: 16px;

    span {
      color: #872848;
      font-weight: bold;
    }
  }

  .containt-wrap {
    margin-bottom: 115px;
    &.center-wrap {
      text-align:center;
    }
  }

  

  .category-box {
    padding:35px 30px 15px 35px;
    background-color:#ffffff;
    width: calc((100% - 68px)/3);
    float: left;
    position: relative;
    max-height: 200px;
    min-height: 200px;
    overflow: hidden;

    .category-inner {
      position: relative;
      z-index: 10;
    }

    h3 {
      margin-bottom: 12px;
      font-family: 'diavlobook-regular';
      font-weight: bold;
      font-size: 22px;
    }
    p {
      margin-bottom: 15px;
      font-family: 'myriadpro-regular';
      max-width: 65%;
      font-size: 15px;
    }

    a {
      text-decoration: none;
      font-weight: bold;
      color: #872848;
      font-family: 'diavlobook-regular';
      font-size: 18px;
    }

    img {
      position: absolute;
      right: 0;
      top:0;
      z-index: 5;
      height: 100%;
    }
  /*------------------------------------*/
  @media (max-width: 1200px){
    max-height: 200px;
    min-height: 200px;

    h3 {
      font-size: 20px;
    }
    p {
      max-width: 85%;
    }
    a {
      font-size: 16px;
    }
  }
  /*------------------------------------*/

  }
  .category-box + .category-box {
    margin-left: 34px;
  }

  .partner-box {
    //padding:35px 30px 15px 35px;
    background-color:#ffffff;
    width: calc((100% - 100px)/5);
    float: left;
    position: relative;

    img {
      margin-bottom: -4px;
      width: 100%;
    }
  }
  .partner-box + .partner-box {
    margin-left: 25px;
  }

  .contact-box {
    //padding:35px 30px 15px 35px;
    @include background(linear-gradient(90deg, #993456 0, #872848 99%, #872848 100%));
    float: left;
    position: relative;
    padding:50px 35px;

    p {
      font-size: 16px;
      color: #ffffff;
    }

    i.con-icon {
      position: absolute;
      left: 5px;
      top:50%;
      margin-top: -12px;
      height: 25px;
      width: 28px;
      display: block;
      background-image: url("../../img/icons/all.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/all.svg");

      &.location {
        background-position:0 0;
      }
      &.tp {
        background-position:0 -26px;
      }
      &.fax {
        background-position:0 -75px;
      }
      &.email {
        background-position:0 -50px;
      }
    }
      
  }

  .facility {
    @extend %clearfix;
    padding-top:30px;
    .facility-item {
      float: left;
      padding:25px 21px;
      border:1px #872848 solid;
      width: calc((100% - 90px)/4);
      border-bottom-right-radius:70px;
      text-align:left;
      position: relative;

      h3 {
        font-size: 22px;
        font-family: 'diavlobook-regular';
        font-weight: bold;
        color: #872848;
        margin-bottom: 10px;
      }

      p {
        padding-right:65px;
      }
      i.facility-icon {
        position: absolute;
        margin-top: -23px;
        top:50%;
        right: 6%;
        height: 46px;
        width: 64px;
        background-image: url("../../img/icons/all-vehicles.png");
        background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/all-vehicles.svg");

        &.loading {
          background-position:0 0;
        }
        &.delivery {
          background-position:0 -46px;
        }
        &.deliveryontime {
          background-position:0 -92px;
        }
        &.unloading {
          background-position:0 -138px;
        }
      }
      
    }
    .facility-item + .facility-item {
      margin-left: 30px;
    }
  }

  .products-navigation {
    // overflow:hidden;
    // max-height: 90px;
    position: relative;
    ul {
      display: block;
      overflow:hidden;
      max-height: 90px;
      li {
        display: inline-block;
        width: 24%;
        @include transition(all 450ms ease);
        vertical-align: center;
        a {
          display: block;
          font-size: 23px;
          text-decoration: none;
          color:#ffffff;
          font-family: 'diavlobook-regular';
          padding:31px 0;
          text-align:center;
        }
        &.active {
          background-color:#671330;
        }
        &:hover {
          background-color:#671330;
        }
      }
    }

    .pro-controls {
      height: 23px;
      width: 13px;
      position: absolute;
      top: 50%;
      margin-top: -11px;
      cursor: pointer;
      background-image: url("../../img/icons/nav-arrows.png");
      background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/nav-arrows.svg");

      &.pro-prev{
        left:-80px;
        background-position:0 0;
      }
      &.pro-next{
        right:-80px;
        background-position:0 -24px;
      }
    }

    /*------------------------------------*/
    @media (max-width: 1490px){
      .pro-controls {

        &.pro-prev{
          left:-12px;
        }
        &.pro-next{
          right:-12px;
        }
      }
    }
    @media (max-width: 1200px){
      ul {
        li {
          width: 33%;
        }
      }

      .pro-controls {

        &.pro-prev{
          left:-20px;
        }
        &.pro-next{
          right:-20px;
        }
      }
    }
    /*------------------------------------*/

  }

  .products-tab-master {
    .sub-navigation {
      margin-bottom: 45px;
      ul {
        border-bottom:#c2c2c2 1px solid;
        li {
          display: inline-block;
          margin-right:25px;
          @include transition(all 450ms ease);
          a {
            display: block;
            text-decoration: none;
            outline: none;
            h6 {
              padding:15px 0;
              font-size: 18px;
              color:#000000;
              font-family: 'diavlobook-regular';
              position: relative;

              &:after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 2px;
                left: 0;
                bottom:0;
              }
            }
            &.active {
              h6 {
                color:#671330;
                &:after {
                  background-color:#872848;
                }
              }
            }
          }
        }
      }
    }
    .products-containts {
      .loading {
        text-align:center;
        display: none;
        .loading-box {
          display: inline-block;
          width: 50px;
          height: 50px;
          background-size:cover;
          background-image:url('../../img/rolling.gif');
        }
      }
      .products-list {
        //padding:0 15px;
        display: none;

        &.veiw-element {
          display: block;
        }

        .row {
          margin-bottom: 55px;
        }

        .btn-defult {
          text-decoration: none;
          display: inline-block;
          font-size: 27px;
          background-color: #872848;
          border: none;
          border-radius: 35px 35px;
          padding: 8px 55px;
          padding-right: 90px;
          color: #fff;
          position: relative;
          overflow: hidden;
          left: -30px;
          font-family: 'diavlobook-regular';
          margin: 30px 0;
          background-repeat: no-repeat;
          background-position: 90% 50%;
          background-image: url("../../img/icons/settings.png");
          background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/settings.svg");
          &:after {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top:0;
            width: 30px;
            height: 100%;
            background-color:#dedede;
            z-index: 15;
          }
        }

        .image-cols {
          text-align:right;
          img {
            margin-top: 45px;
            max-width: 392px;
          }
        }

        .heading {
          border-bottom:#c2c2c2 1px solid;
          margin-bottom: 50px;
          h6 {
            font-size: 22px;
            color: #872848;
            background-color:#ffffff;
            display: inline-block;
            font-family: 'diavlobook-regular';
            margin-bottom: -2px;
            padding-right: 15px;
          }
        }

        .features {
          li {
            display: inline-block;
            width: 24%;
            margin-bottom: 20px;
            vertical-align: top;


            i.features-icon {
              width: 36px;
              height: 30px;
              display: block;
              margin-bottom: 12px;
              background-image: url("../../img/icons/sizes.png");
              background-image: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url("../../img/icons/sizes.svg");

              &.dimension {
                background-position: 0 0 ;
              }
              &.thickness {
                background-position: 0 -29px;
              }
              &.core {
                background-position: 0 -58px;
              }
              &.grades {
                background-position: 0 -87px;
              }
              &.importing {
                background-position: 0 -115px;
              }
            }

          }
        }

      }
    }
    h1 {
      margin: 0;
      margin-bottom: 50px;
      &:after {
        left:0;
        margin-left: 0;
      }
    }
    p.defult-font {
      font-family: 'myriadpro-regular';
      font-size: 16px;
    }
  }
}

.footer-section {
  background-color:#872848;
  padding-top:140px;

  span.footer-line {
    margin-top:106px;
    display: block;
    width: 100%;
    height: 20px;
    background-color:#45041a;
  }

  h3 {
    font-size: 18px;
    font-family: 'diavlobook-regular';
    font-weight: 100;
    color: #ffffff;
    margin-bottom: 10px;
    text-transform: uppercase;
  }

  p {
    font-size: 15px;
    font-family: 'diavlobook-regular';
    color: #ffffff;
    margin-bottom: 10px;
  }

  .containt-slide {
    .social-icon {
      margin: 25px 0;
    }
    &.footer-about {
      padding-right:25%;
    }
  } 

  .qr-img {
    margin:25px 0;
    max-width:95px;
  }

  .subscribe {
    padding-top:8px;
    input {
      border:none;
      background-color: #ffffff;
      margin-bottom: 12px;
      margin-top: 5px;
      color: #000000;
      max-width: 148px;
      width: 100%;
      padding: 6px 8px;
    }

    &::-webkit-input-placeholder {
      color: #EBEBEB;
    }
    &::-ms-input-placeholder {
      color: #EBEBEB;
    }
    &::-moz-placeholder {
      color: #EBEBEB;
    }

    button {
      background-color:#000000;
      border:none;
      display: inline-block;
      width: 100%;
      max-width: 75px;
      padding: 7px;
      color: #ffffff;
      cursor: pointer;
      @include transition(all 650ms ease);
      &:hover {
        //background-color:#1ac6b1;
        background-color:#45041a;
      }
    }
  }
}
